* {
    min-width: 0;
    font: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, svg {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    margin: 0;
    min-height: 100dvh;
}

/*---------------------------- HEADER ---------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 70px;
}

.header {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    width: 1300px;
    justify-content: space-between;
}

.header_rignt {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    width: 720px;
    justify-content: flex-end;
    align-items: center;
}

.header_btn button {
    display: flex;
    flex-direction: row;
    padding: 10px 22px;
    color: white;
    background-color: #4CAF4F;
    font-family:"Inter", sans-serif ;
    font-size: 17px;
    gap: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.header_rignt nav a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    color: #4D4D4D;
    margin-right: 20px;
}

/*------------------------- SECTION 1 ---------------------*/

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    background-color: #F5F7FA;
}

.container-1 {
    max-width: 1400px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 75px;
}

.container-1-left {
    font-family: "Inter", sans-serif;
    max-width: 700px;
    width: 670px;
    height: 275px;
}

.container-1-left h1 {
    font-size: 65px;
    font-weight: 600;
    color: #4D4D4D;
    margin-bottom: 0;
    margin-top: 0;
}

.container-1-left p {
    font-size: 19px;
    color: #717171;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-1-left h1 span {
    color: #4CAF4F;
    font-size: 65px;
    font-weight: 600;
}

.container-1-right img {
    width: 450px;
    height: 450px;
}

.container-1-left button {
    padding: 13px 26px;
    border: none;
    background-color: #4CAF4F;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.scroll-general {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.scroll {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.scroll-1 {
    background-color: #4CAF4F;
}

.scroll-2 {
    background-color: #C8E6C9;
}

/*------------------------------- SECTION 2 ---------------------------*/

.section-2 {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.section-2-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2-top h1 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #4D4D4D;
    margin-bottom: 0;
}

.section-2-top p {
    font-size: 20px;
    color: #717171;
    margin-bottom: 0;
}

.section-2-bottom {
    display: flex;
    flex-direction: row;
    width: 1300px;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.section-2-bottom img {
    width: 50px;
    height: 50px;
}

/*------------------------------ SECTION 3 ---------------------------*/

.section-3 {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.section-3-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3-top .title-1,.title-2 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #4D4D4D;
    margin: 0;
}

.section-3-top p {
    font-size: 20px;
    color: #717171;
    margin-bottom: 0;
}

.section-3-bottom {
    max-width: 1400px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 100px;
}

.bottom-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 28px 10px;
    box-shadow: 0px 5px 13px rgba(146, 146, 146, 0.3);
    border-radius: 10px;
}

.bottom-card img {
    width: 90px;
    height: 90px;
}

.bottom-card .card-text h1 {
    font-family: "Inter", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #4D4D4D;
}

.bottom-card .card-text p {
    font-size: 18px;
    color: #717171;
}

.bottom-card .card-text {
    text-align: center;
}

/*--------------------------------- SECTION 4 ------------------------*/

.section-4 {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container-section-4 {
    width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-bottom: 100px; 
}

.container-section-4 img {
    width: 400px;
    height: 400px;
}

.container-section-4 .section-4-right h1 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #4D4D4D;
}

.container-section-4 .section-4-right p {
    font-size: 18px;
    color: #717171;
}

.section-4-right {
    max-width: 900px;
    width: 600px;
}

.container-section-4 .section-4-right .btn-section-4 button {
    padding: 17px 30px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: white;
    background-color: #4CAF4F;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

/*------------------------- SECTION 5 -------------------------*/

.container-section-5 {
    max-width: 1400px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
}
.section-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F7FA;
}

.container-section-5-left {
    max-width: 600px;
    width: 370px;
}

.container-section-5-left h1 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #4D4D4D;
    margin-top: 0;
}

.container-section-5-left h1 span {
    color: #4CAF4F;
}

.container-section-5-left p {
    font-size: 20px;
    color: #717171;
}

.container-section-5-right {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 550px;
}

.container-section-5-right .top {
    display: flex;
    justify-content: space-between;
}

.container-section-5-right .top-marge {
    margin-top: 50px;
}

.container-section-5-right .bottom {
    display: flex;
}

.container-section-5-right .top .top-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.container-section-5-right .top .top-card img {
    width: 75px;
    height: 75px;
}

.container-section-5-right .top .icon4 {
    margin-right: 50px;
}

.container-section-5-right .top .top-card .top-card-text h1,p {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.container-section-5-right .top .top-card .top-card-text h1 {
    font-size: 30px;
    font-weight: 600;
    color: #4D4D4D;
}

.container-section-5-right .top .top-card .top-card-text p {
    font-size: 18px;
    color:#717171;
}

/*------------------------------ SECTION 6 ----------------------------------*/

.section-6 {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container-section-6 {
    width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.container-section-6 img {
    width: 500px;
    height: 500px;
}

.container-section-6 .section-6-right h1 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #4D4D4D;
}

.container-section-6 .section-6-right p {
    font-size: 18px;
    color: #717171;
}

.section-6-right {
    max-width: 900px;
    width: 600px;
}

.container-section-6 .section-6-right .btn-section-6 button {
    padding: 17px 30px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: white;
    background-color: #4CAF4F;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

/*------------------------------ SECTION 7 -----------------------*/

.container-section-7 {
    max-width: 1400px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 90px;
}

.section-7 {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #F5F7FA;
}

.section-7-right .section-7-right_top p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #717171;
}

.section-7-right .section-7-right_top h1 {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color:#4CAF4F;
    font-weight: 600px;
}

.section-7-right .section-7-right_top h2 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #717171;
}

.section-7-right {
    max-width: 800px;
    width: 730px;
}

.section-7-right_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-7-right_bottom .redirect-7 {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    width: 172px;
    align-items: center;
    justify-content: space-between;
}

.section-7-right_bottom .redirect-7 p {
    font-size: 15px;
    color: #717171;
}

/*---------------------------- SECTION 8 -------------------------*/

.container-section-8 {
    max-width: 1400px;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}

.section-8 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-8-top {
    width: 716px;
    text-align: center;
}
.section-8-top h1 {
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #4D4D4D;
}

.section-8-top p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #717171;
}

.section-8-bottom {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-section-8 .section-8-bottom .bottom-card-section8 .img-deco {
    width: 400px;
    height: 400px;
}

.bottom-card-section8-text {
    width: 335px;
    text-align: center;
    border-radius: 7px;
    background-color: #F5F7FA;
    padding: 14px 10px;
    margin-top: -145px;
    z-index: 10;
    box-shadow: 0px 5px 13px rgba(146, 146, 146, 0.3);
}

.bottom-card-section8-text p {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #717171;
}

.bottom-card-text-redirect {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin-left: 70px;
}

.bottom-card-text-redirect h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #4CAF4F;
}

.bottom-card-section8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------------------------- SECTION 9 --------------------------*/

.section-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FA;
}

.container-section-9 {
    max-width: 100%;
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.container-section-9 h1 {
    font-size: 60px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #4D4D4D;
}

.container-section-9 .btn-section-9 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 13px 26px;
    border: none;
    background-color: #4CAF4F;
    border-radius: 5px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

/*------------------------------ FOOTER ----------------------*/

footer {
    background-color: #263238;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    max-width: 100%;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-container-left {
    max-width: 500px;
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.footer-container-left p,span {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.socila-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
}

.socila-footer img {
    width: 40px;
    height: 40px;
}

.text-footers p {
    margin-bottom: 15px;
}

.footer-container-right {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container-right-link h1 {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.footer-container-right-link nav {
    display: flex;
    flex-direction: column;
    height: 220px;
    margin-top: 40px;
    gap: 27px;
}

.footer-container-right-link nav a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.footer-container-right-newsletter h1 {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.footer-container-right-newsletter .input {
    display: flex;
    font-family: "Inter", sans-serif;
    margin-top: 40px;
}

.footer-container-right-newsletter .input input {
    padding: 13px 23px;
    border-radius: 7px 0px 0px 7px;
    background-color:black;
    opacity: 0.3;
    border: none;
}
.footer-container-right-newsletter .input img {
    padding: 13px 23px;
    border-radius: 0px 7px 7px 0px;
    background-color:black;
    opacity: 0.3;
    border: none;
}

input::placeholder {
    color: white;
}